.center{
	text-align:center;
	width: 100%;
}
.ui.stackable.four.column.grid{
	text-align:center;
}
.load-button{
	margin-top: 50px !important;
}
.products-appear {
  opacity: 0.1;
}

.products-appear.products-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
