.ui.pointing.secondary.menu{
	margin-bottom: 50px;
}
.logo-section{
	border: none !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}
.logo-image{
	margin: 0 auto;
	height: 50px;

}