.header{
	border: 0 !important;
	border: none;
}
.modal{
	border-radius: 0 !important;
/*	margin: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	height: 100%;
	width: 100%;*/
	box-shadow: none !important;
}
.modals{
  background: #70e1f5 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #70e1f5 , #ffd194) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.content{
	/*height: 100%;*/
}
